<app-header></app-header>

<div class="flex h-screen bg-gray-100 overflow-hidden relative">
  @if (sidebarService.isOpen()) {
  <div class="fixed inset-0 bg-black/40 z-40 lg:hidden" (click)="sidebarService.close()"></div>
  }

  <app-sidebar
    class="fixed lg:relative left-0 top-0 h-full z-50 w-80 transform transition-transform duration-300 ease-in-out bg-white border-r border-gray-200 shadow-lg lg:shadow-none"
    [ngClass]="{
      '-translate-x-full': !sidebarService.isOpen(),
      'translate-x-0': sidebarService.isOpen(),
      'lg:translate-x-0': true,
    }"></app-sidebar>

  <main class="flex-1 overflow-y-auto pt-16">
    <router-outlet></router-outlet>
  </main>
</div>