@import 'tailwindcss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear,
input[type='password']::-webkit-textfield-decoration-container,
input[type='password']::-webkit-credentials-auto-fill-button,
input[type='password']::-webkit-clear-button,
input[type='password']::-webkit-inner-spin-button,
input[type='password']::-webkit-outer-spin-button,
input[type='password']::-webkit-password-toggle-button {
  display: none !important;
  appearance: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.kpi-card {
  @apply w-full max-w-full bg-white flex flex-col items-center justify-center p-4 rounded-lg min-w-0 transition-transform duration-150 hover:scale-[1.02] cursor-pointer;
}

.icone-default {
  @apply object-contain;
}

.icone-users {
  @apply object-contain scale-130;
}

.icone-reports {
  @apply object-contain scale-160;
}